/*VARIABLES GLOBALES Y RESETEO*/
:root {

    /* Text  */
    --primary_text_color: #34495e;
    --secondary_text_color: #7f8c8d;

    /* Background's */
    --body_background: #f4f7f6;

    /* Buttons color */
    --primary_button_color: #27ae60;
    --primary_button_hover: #2ecc71;

    /* Links color */
    --link_color: #2980b9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--body_background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal*/
.login-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.login-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Textos de la tarjeta */
.text-container-login {
    margin-bottom: 10px;

}

.text-container-login h2 {
    color: var(--primary_text_color);
}

.text-container-login span{
    font-size: 28px;
}

.text-container-login p {
    color: var(--secondary_text_color);
    font-size: 14px;
    margin: 8px 0;
}

/* Forms */

.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 4px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary_text_color);
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 14px;
}

/* Buttons*/
.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: var(--primary_button_color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: var(--primary_button_hover);
}

/* Links */
.form-links {
    margin: 15px;
    font-size: 14px;
}

.form-links a {
    color: var(--link_color);
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

/* Error message */
.error-message {
    background-color: #ffe5e5;
    color: #b30000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.success-message {
    background-color: #e5ffeb;
    color: var(--primary_button_color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}